# Climate Change

In [30]:
# Dependencies and Setup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
# Import Data from dataset
file_basic_path="data_sets/"
newFile = pd.ExcelFile("data_sets/climate_change_data.xls")
climchang_df = pd.read_excel("data_sets/climate_change_data.xls", sheet_name="Data")
climchang_df.columns

Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [53]:
year=[1990+x for x in range(22)]
for x in year:
    climchang_df[x]=pd.to_numeric(climchang_df[x],errors='coerce')

In [57]:
climchang_df['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [59]:
co2_df=climchang_df[climchang_df['Series name']=='CO2 emissions per capita (metric tons)']
co2_df

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
1864,ABW,Aruba,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,29.620641,29.838835,25.239288,24.405233,...,23.840384,23.279535,22.806292,22.511189,22.135312,22.622989,21.683831,NaN,NaN,NaN
1865,ADO,Andorra,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,NaN,NaN,NaN,NaN,...,7.701215,7.414955,7.500372,7.391626,6.840561,6.623037,6.527835,NaN,NaN,NaN
1866,AFG,Afghanistan,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.140715,0.126777,0.070145,0.065403,...,0.013084,0.020635,0.024221,0.023421,0.022657,0.022613,0.025035,NaN,NaN,NaN
1867,AGO,Angola,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.428613,0.409949,0.401597,0.510141,...,0.850599,0.587864,1.177717,1.161767,1.308968,1.435174,1.351088,NaN,NaN,NaN
1868,ALB,Albania,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,2.276350,1.206479,0.730710,0.726600,...,1.214113,1.381012,1.281453,1.464792,1.340591,1.413737,1.312855,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092,YEM,"Yemen, Rep.",EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,-0.251051,0.806199,1.090354,0.680109,...,0.837117,0.891083,0.942838,0.970709,0.976692,1.001337,1.033494,NaN,NaN,NaN
2093,ZAF,South Africa,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,9.474820,9.638386,8.853793,9.141031,...,7.635877,8.257580,8.875339,8.648574,8.499927,8.980173,8.933203,NaN,NaN,NaN
2094,ZAR,"Congo, Dem. Rep.",EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.111804,0.099191,0.091759,0.083013,...,0.029411,0.031384,0.040909,0.041255,0.041642,0.041997,0.045078,NaN,NaN,NaN
2095,ZMB,Zambia,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.311180,0.299524,0.296995,0.294970,...,0.184148,0.192096,0.188389,0.197069,0.194427,0.142660,0.152550,NaN,NaN,NaN
2096,ZWE,Zimbabwe,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,1.480922,1.472161,1.535679,1.441422,...,0.946432,0.842544,0.787956,0.857045,0.825610,0.770640,0.728892,NaN,NaN,NaN

### Is there a correlation between yearly global average temperature and yearly average global CO2 level ?
* Null hypothesis: There is no correlation between yearly global average temp and yearly average global CO2 levels
* Alternative hypothesis: There is a positive correlation between yearly global average temp and yearly average global CO2 levels

### If there is a correlation between an increase in global temperature and CO2 levels, then is there a relationship between a country’s average temperature and their CO2 level? Can we see a local effect on a country’s temperature from their CO2 levels?
* Null Hypothesis: A country’s increase in CO2 level does not increase the country’s average temperature (by year)
* Alternative Hypothesis: A country’s increase in CO2 level does increase the country’s average temperature.

### Is there a correlation between a country’s wealth (GDP per Capita) and its yearly average CO2 emissions? 
* Null hypothesis: Wealth of a country does not affect CO2 emissions. 
* Alternative hypothesis: The wealthier a country, the more CO2 they emit.

### Is there a correlation between global average temperature and global population? (population value to be taken at the end of each year)
* Null hypothesis: There is no correlation between global yearly average temp and global population.
* Alternative hypothesis: There is a positive correlation between global yearly average temp and global population.

Does this correlation (population vs temperature) exist in individual countries, or does this vary depending on location? Perfectly sets us up for the next 2Q’s

### Is there a correlation between a specific country’s CO2 levels and Temperature vs happiness Index? 
* Null hypothesis: There is no correlation between CO2 levels/Temperature and happiness index
* Alternative hypothesis: As CO2 levels/Temperature increases, citizens of a country is less happy

### Is there a correlation between a country’s yearly average CO2 levels and life expectancy? Does a country’s CO2 level affect the life expectancy of a population?
* Null hypothesis: There is no correlation between a country’s yearly average CO2 level
* Alternative hypothesis: As CO2 levels increase, a population’s life expectancy decreases.