# Climate Change

In [2]:
# Dependencies and Setup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# to put different sheets in one df
pip install xlrd

In [3]:
# Import Data from dataset
file_basic_path="data_sets/"
newFile = pd.ExcelFile("data_sets/climate_change_data.xls")
climchang_df = pd.read_excel("data_sets/climate_change_data.xls", sheet_name="Data")
climchang_df.columns

Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [4]:
year=[1990+x for x in range(22)]
for x in year:
    climchang_df[x]=pd.to_numeric(climchang_df[x],errors='coerce')

In [5]:
climchang_df['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [9]:
co2_df=climchang_df[climchang_df['Series name']=='CO2 emissions per capita (metric tons)']
co2_df

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
1864,ABW,Aruba,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,29.620641,29.838835,25.239288,24.405233,...,23.840384,23.279535,22.806292,22.511189,22.135312,22.622989,21.683831,NaN,NaN,NaN
1865,ADO,Andorra,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,NaN,NaN,NaN,NaN,...,7.701215,7.414955,7.500372,7.391626,6.840561,6.623037,6.527835,NaN,NaN,NaN
1866,AFG,Afghanistan,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.140715,0.126777,0.070145,0.065403,...,0.013084,0.020635,0.024221,0.023421,0.022657,0.022613,0.025035,NaN,NaN,NaN
1867,AGO,Angola,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.428613,0.409949,0.401597,0.510141,...,0.850599,0.587864,1.177717,1.161767,1.308968,1.435174,1.351088,NaN,NaN,NaN
1868,ALB,Albania,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,2.276350,1.206479,0.730710,0.726600,...,1.214113,1.381012,1.281453,1.464792,1.340591,1.413737,1.312855,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092,YEM,"Yemen, Rep.",EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,-0.251051,0.806199,1.090354,0.680109,...,0.837117,0.891083,0.942838,0.970709,0.976692,1.001337,1.033494,NaN,NaN,NaN
2093,ZAF,South Africa,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,9.474820,9.638386,8.853793,9.141031,...,7.635877,8.257580,8.875339,8.648574,8.499927,8.980173,8.933203,NaN,NaN,NaN
2094,ZAR,"Congo, Dem. Rep.",EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.111804,0.099191,0.091759,0.083013,...,0.029411,0.031384,0.040909,0.041255,0.041642,0.041997,0.045078,NaN,NaN,NaN
2095,ZMB,Zambia,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,0.311180,0.299524,0.296995,0.294970,...,0.184148,0.192096,0.188389,0.197069,0.194427,0.142660,0.152550,NaN,NaN,NaN
2096,ZWE,Zimbabwe,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1,1.480922,1.472161,1.535679,1.441422,...,0.946432,0.842544,0.787956,0.857045,0.825610,0.770640,0.728892,NaN,NaN,NaN

### Is there a correlation between yearly global average temperature and yearly average global CO2 level ?
* Null hypothesis: There is no correlation between yearly global average temp and yearly average global CO2 levels
* Alternative hypothesis: There is a positive correlation between yearly global average temp and yearly average global CO2 levels

### If there is a correlation between an increase in global temperature and CO2 levels, then is there a relationship between a country’s average temperature and their CO2 level? Can we see a local effect on a country’s temperature from their CO2 levels?
* Null Hypothesis: A country’s increase in CO2 level does not increase the country’s average temperature (by year)
* Alternative Hypothesis: A country’s increase in CO2 level does increase the country’s average temperature.

In [10]:
climchang_df.head()

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.574810,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.967875,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Create DF with data regions
country_df = pd.read_excel("data_sets/climate_change_data.xls", sheet_name="Country")
country_df.head()

,Country code,Country name,Capital city,Region,Income group,Lending category
0,EAP,East Asia & Pacific,..,Aggregates,Aggregates,Aggregates
1,ECA,Europe & Central Asia,..,Aggregates,Aggregates,Aggregates
2,EMU,Euro area,..,Aggregates,Aggregates,Aggregates
3,HIC,High income,..,Aggregates,Aggregates,Aggregates
4,LAC,Latin America & Caribbean,..,Aggregates,Aggregates,Aggregates

In [60]:
# Join two datasets on country code
join = pd.merge(climchang_df,country_df, on='Country code', how='left')
join.head()

,Country code,Country name_x,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2007,2008,2009,2010,2011,Country name_y,Capital city,Region,Income group,Lending category
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.5748,..,..,..,...,..,..,..,..,..,Aruba,Oranjestad,Latin America & Caribbean,High income: nonOECD,Not classified
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,Andorra,Andorra la Vella,Europe & Central Asia,High income: nonOECD,Not classified
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,Afghanistan,Kabul,South Asia,Low income,IDA
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,Angola,Luanda,Sub-Saharan Africa,Lower middle income,IDA
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.96788,..,..,..,...,..,..,..,..,..,Albania,Tirane,Europe & Central Asia,Upper middle income,IBRD

In [73]:
# Drop duplicate/irrelevant columns and rename
join.drop(["SCALE", "Series code", "Decimals", "Country name_y", "Capital city", "Income group", "Lending category"], axis=1, inplace=True)
join.head()

,Country code,Country name_x,Series name,1990,1991,1992,1993,1994,1995,1996,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,Region
0,ABW,Aruba,Land area below 5m (% of land area),29.5748,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Latin America & Caribbean
1,ADO,Andorra,Land area below 5m (% of land area),0,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Europe & Central Asia
2,AFG,Afghanistan,Land area below 5m (% of land area),0,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,South Asia
3,AGO,Angola,Land area below 5m (% of land area),0.208235,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Sub-Saharan Africa
4,ALB,Albania,Land area below 5m (% of land area),4.96788,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Europe & Central Asia

In [78]:
# Rename columns and df
join.rename(columns = {"Country name_x": "Country name"}, inplace=True)
cc_country = join
cc_country.head()

,Country code,Country name,Series name,1990,1991,1992,1993,1994,1995,1996,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,Region
0,ABW,Aruba,Land area below 5m (% of land area),29.5748,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Latin America & Caribbean
1,ADO,Andorra,Land area below 5m (% of land area),0,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Europe & Central Asia
2,AFG,Afghanistan,Land area below 5m (% of land area),0,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,South Asia
3,AGO,Angola,Land area below 5m (% of land area),0.208235,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Sub-Saharan Africa
4,ALB,Albania,Land area below 5m (% of land area),4.96788,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,Europe & Central Asia

In [134]:
# show data for series CO2 and temperature only
series = ['CO2 emissions per capita (metric tons)','Average daily min/max temperature (1961-1990, Celsius)']       
df = cc_country[cc_country['Series name'].isin(series)]
df

,Country code,Country name,Series name,1990,1991,1992,1993,1994,1995,1996,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,Region
1864,ABW,Aruba,CO2 emissions per capita (metric tons),29.6206,29.8388,25.2393,24.4052,22.9779,22.2331,21.8071,...,23.2795,22.8063,22.5112,22.1353,22.623,21.6838,..,..,..,Latin America & Caribbean
1865,ADO,Andorra,CO2 emissions per capita (metric tons),..,..,..,..,..,6.29124,6.52141,...,7.41496,7.50037,7.39163,6.84056,6.62304,6.52783,..,..,..,Europe & Central Asia
1866,AFG,Afghanistan,CO2 emissions per capita (metric tons),0.140715,0.126777,0.0701453,0.0654029,0.0607274,0.0564514,0.0518392,...,0.0206349,0.0242207,0.0234208,0.0226567,0.0226127,0.0250348,..,..,..,South Asia
1867,AGO,Angola,CO2 emissions per capita (metric tons),0.428613,0.409949,0.401597,0.510141,0.331321,0.909699,0.842489,...,0.587864,1.17772,1.16177,1.30897,1.43517,1.35109,..,..,..,Sub-Saharan Africa
1868,ALB,Albania,CO2 emissions per capita (metric tons),2.27635,1.20648,0.73071,0.7266,0.606661,0.664265,0.647964,...,1.38101,1.28145,1.46479,1.34059,1.41374,1.31286,..,..,..,Europe & Central Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5354,YEM,"Yemen, Rep.","Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6 / 29.1,Middle East & North Africa
5355,ZAF,South Africa,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.6 / 24.9,Sub-Saharan Africa
5356,ZAR,"Congo, Dem. Rep.","Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.4 / 29.6,Sub-Saharan Africa
5357,ZMB,Zambia,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5 / 28.3,Sub-Saharan Africa
5358,ZWE,Zimbabwe,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2 / 27.8,Sub-Saharan Africa

In [137]:
# transpote tco2 rows to column

TypeError: 'DataFrameGroupBy' object is not callable

In [116]:
#sort by region
df.sort_values(by="Region", axis=0)
#plt.plot(x_values, y_values)

,Country code,Country name,Series name,1990,1991,1992,1993,1994,1995,1996,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,Region
5317,SSA,Sub-Saharan Africa,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aggregates
1982,LIC,Low income,CO2 emissions per capita (metric tons),0.651662,0.647485,0.64645,0.639954,0.613029,0.606058,0.600088,...,0.267983,0.279985,0.28582,0.29739,0.280294,0.286805,..,..,..,Aggregates
5310,SID,Small island developing states,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aggregates
5352,WLD,World,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aggregates
1976,LAC,Latin America & Caribbean,CO2 emissions per capita (metric tons),2.25907,2.25221,2.26086,2.29552,2.36092,2.37398,2.42623,...,2.5271,2.52624,2.57666,2.60536,2.69153,2.78135,..,..,..,Aggregates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5157,CAF,Central African Republic,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.3 / 31.5,Sub-Saharan Africa
5163,CIV,Cote d'Ivoire,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.1 / 31.6,Sub-Saharan Africa
5164,CMR,Cameroon,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1 / 30.1,Sub-Saharan Africa
5129,AGO,Angola,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8 / 28.3,Sub-Saharan Africa
5358,ZWE,Zimbabwe,"Average daily min/max temperature (1961-1990, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2 / 27.8,Sub-Saharan Africa

### Is there a correlation between a country’s wealth (GDP per Capita) and its yearly average CO2 emissions? 
* Null hypothesis: Wealth of a country does not affect CO2 emissions. 
* Alternative hypothesis: The wealthier a country, the more CO2 they emit.

### Is there a correlation between global average temperature and global population? (population value to be taken at the end of each year)
* Null hypothesis: There is no correlation between global yearly average temp and global population.
* Alternative hypothesis: There is a positive correlation between global yearly average temp and global population.

Does this correlation (population vs temperature) exist in individual countries, or does this vary depending on location? Perfectly sets us up for the next 2Q’s

### Is there a correlation between a specific country’s CO2 levels and Temperature vs happiness Index? 
* Null hypothesis: There is no correlation between CO2 levels/Temperature and happiness index
* Alternative hypothesis: As CO2 levels/Temperature increases, citizens of a country is less happy

### Is there a correlation between a country’s yearly average CO2 levels and life expectancy? Does a country’s CO2 level affect the life expectancy of a population?
* Null hypothesis: There is no correlation between a country’s yearly average CO2 level
* Alternative hypothesis: As CO2 levels increase, a population’s life expectancy decreases.