In [17]:
import numpy as np
import pandas as pd
from scipy.stats import linregress
from matplotlib import pyplot as plt
import random

In [18]:
Series_name=[]
df=pd.read_csv('./data_sets/climate_change_data.csv')
df

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.00,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.00,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.21,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.97,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13507,YEM,"Yemen, Rep.",SP.URB.TOTL,Urban population,0,0,2497175.68,2693642.26,2909756.36,3139637.32,...,5148619.31,5410331.21,5683412.00,5967457.83,6275723.04,6597265.19,6932788.71,7283068.41,7648699.452,..
13508,ZAF,South Africa,SP.URB.TOTL,Urban population,0,0,18304000.00,18864881.58,19446091.55,20048481.07,...,26345562.75,26904362.60,27448218.30,27988692.12,28533559.52,29079838.13,29636881.56,30193795.83,30844632.10,..
13509,ZAR,"Congo, Dem. Rep.",SP.URB.TOTL,Urban population,0,0,10120930.83,10569454.39,11060046.85,11568627.56,...,16125336.27,16867832.79,17640845.61,18431987.56,19333729.39,20261443.15,21216476.38,22201848.32,23219959.84,..
13510,ZMB,Zambia,SP.URB.TOTL,Urban population,0,0,3096860.88,3141668.30,3183257.23,3223514.67,...,3729882.68,3819640.74,3912870.73,4011827.75,4128986.90,4253139.48,4384858.57,4524564.08,4614728.013,..
13511,ZWE,Zimbabwe,SP.URB.TOTL,Urban population,0,0,3036068.58,3175022.71,3310511.55,3443081.82,...,4367338.80,4422102.37,4469726.76,4512876.27,4558288.49,4600586.91,4649406.16,4717663.77,4814866.882,..

In [19]:
GDP_df=df.loc[df['Series name'] == "GDP ($)"]

In [20]:
GDP_df=GDP_df.loc[GDP_df['1990'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1991'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1992'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1993'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1994'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1995'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1996'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1997'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1998'] !=".."]
GDP_df=GDP_df.loc[GDP_df['1999'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2000'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2001'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2002'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2003'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2004'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2005'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2006'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2007'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2008'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2009'] !=".."]
GDP_df=GDP_df.loc[GDP_df['2010'] !=".."]
GDP_df.drop(['2011','SCALE','Decimals','Country code',"Series code","Series name"],axis=1,inplace=True)

In [24]:
temp=df
Pop_df=temp.loc[df['Series name'] == "Population"]
Pop_df.drop(['2011','SCALE','Decimals','Country code',"Series code","Series name"],axis=1,inplace=True)

In [27]:
GDP_df = GDP_df.set_index('Country name',drop=True)

In [28]:
Pop_df = Pop_df.set_index('Country name',drop=True)

In [38]:
test_df=GDP_df.merge(Pop_df,how='inner',left_index=True,right_index=True,suffixes=('_GDP','_Pop'))

In [43]:
test_df['1990_GDP_by_pop']=test_df['1990_GDP'].astype(float)/test_df['1990_Pop'].astype(float)
test_df['1991_GDP_by_pop']=test_df['1991_GDP'].astype(float)/test_df['1991_Pop'].astype(float)
test_df['1992_GDP_by_pop']=test_df['1992_GDP'].astype(float)/test_df['1992_Pop'].astype(float)
test_df['1993_GDP_by_pop']=test_df['1993_GDP'].astype(float)/test_df['1993_Pop'].astype(float)
test_df['1994_GDP_by_pop']=test_df['1994_GDP'].astype(float)/test_df['1994_Pop'].astype(float)
test_df['1995_GDP_by_pop']=test_df['1995_GDP'].astype(float)/test_df['1995_Pop'].astype(float)
test_df['1996_GDP_by_pop']=test_df['1996_GDP'].astype(float)/test_df['1996_Pop'].astype(float)
test_df['1997_GDP_by_pop']=test_df['1997_GDP'].astype(float)/test_df['1997_Pop'].astype(float)
test_df['1998_GDP_by_pop']=test_df['1998_GDP'].astype(float)/test_df['1998_Pop'].astype(float)
test_df['1999_GDP_by_pop']=test_df['1999_GDP'].astype(float)/test_df['1999_Pop'].astype(float)
test_df['2000_GDP_by_pop']=test_df['2000_GDP'].astype(float)/test_df['2000_Pop'].astype(float)
test_df['2001_GDP_by_pop']=test_df['2001_GDP'].astype(float)/test_df['2001_Pop'].astype(float)
test_df['2002_GDP_by_pop']=test_df['2002_GDP'].astype(float)/test_df['2002_Pop'].astype(float)
test_df['2003_GDP_by_pop']=test_df['2003_GDP'].astype(float)/test_df['2003_Pop'].astype(float)
test_df['2004_GDP_by_pop']=test_df['2004_GDP'].astype(float)/test_df['2004_Pop'].astype(float)
test_df['2005_GDP_by_pop']=test_df['2005_GDP'].astype(float)/test_df['2005_Pop'].astype(float)
test_df['2006_GDP_by_pop']=test_df['2006_GDP'].astype(float)/test_df['2006_Pop'].astype(float)
test_df['2007_GDP_by_pop']=test_df['2007_GDP'].astype(float)/test_df['2007_Pop'].astype(float)
test_df['2008_GDP_by_pop']=test_df['2008_GDP'].astype(float)/test_df['2008_Pop'].astype(float)
test_df['2009_GDP_by_pop']=test_df['2009_GDP'].astype(float)/test_df['2009_Pop'].astype(float)
test_df['2010_GDP_by_pop']=test_df['2010_GDP'].astype(float)/test_df['2010_Pop'].astype(float)

In [53]:
test_df.drop(['1990_GDP','1991_GDP','1992_GDP','1993_GDP','1994_GDP','1995_GDP','1996_GDP','1997_GDP','1998_GDP','1999_GDP','2000_GDP','2001_GDP','2002_GDP','2003_GDP','2004_GDP','2005_GDP','2006_GDP','2007_GDP','2008_GDP','2009_GDP','2010_GDP','1990_Pop','1991_Pop','1992_Pop','1993_Pop','1994_Pop','1995_Pop','1996_Pop','1997_Pop','1998_Pop','1999_Pop','2000_Pop','2001_Pop','2002_Pop','2003_Pop','2004_Pop','2005_Pop','2006_Pop','2007_Pop','2008_Pop','2009_Pop','2010_Pop'],axis=1)

,1990_GDP_by_pop,1991_GDP_by_pop,1992_GDP_by_pop,1993_GDP_by_pop,1994_GDP_by_pop,1995_GDP_by_pop,1996_GDP_by_pop,1997_GDP_by_pop,1998_GDP_by_pop,1999_GDP_by_pop,...,2001_GDP_by_pop,2002_GDP_by_pop,2003_GDP_by_pop,2004_GDP_by_pop,2005_GDP_by_pop,2006_GDP_by_pop,2007_GDP_by_pop,2008_GDP_by_pop,2009_GDP_by_pop,2010_GDP_by_pop
Country name,,,,,,,,,,,,,,,,,,,,,
Angola,992.756820,1144.574971,525.260526,464.800937,345.703055,416.314834,604.401575,600.005503,490.566464,455.496882,...,621.064197,767.721595,905.079111,1239.246030,1857.743098,2655.042216,3449.376803,4666.741352,4068.575715,4422.542824
Albania,638.892178,346.072974,217.158330,380.808911,624.535068,771.862535,968.071952,710.314788,885.908631,1117.705767,...,1329.385031,1440.030143,1819.397838,2388.729275,2666.141620,2893.157853,3377.221517,4076.402136,3772.604741,3678.231748
Argentina,4330.324573,5732.833843,6821.086043,6967.021353,7479.294721,7402.975001,7712.440458,8199.901173,8273.179024,7759.032261,...,7203.256653,2709.706375,3410.337808,3993.906484,4735.983684,5485.523115,6623.863698,8225.669082,7665.073444,9123.738663
Armenia,636.680690,588.979637,368.869465,356.433308,399.678676,455.550276,503.428682,522.991450,609.091322,597.122840,...,690.997783,776.309388,917.174148,1167.831655,1598.339949,2079.733610,2994.708990,3787.492151,2768.612627,2996.306274
Antigua and Barbuda,6295.141048,6539.645272,6641.844385,6998.022978,7475.728830,7199.457887,7680.256669,8017.640963,8357.420329,8578.691062,...,8794.945235,8862.997264,9216.155883,9843.263742,10329.597493,11899.442787,13444.657547,13850.149225,12501.866574,11441.567816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,694.688969,688.649116,719.721643,718.122342,1182.035464,1190.781975,1310.063579,1480.859700,1383.598375,1316.565343,...,1369.789094,1438.066986,1685.297911,2084.080534,2287.102872,2443.270767,2720.503523,3184.106323,2721.943948,3087.175501
South Africa,3182.213788,3345.809343,3557.111166,3479.923697,3546.669386,3862.809024,3593.277880,3636.170692,3205.168813,3102.813819,...,2638.157875,2439.991111,3647.703625,4695.039379,5234.583145,5468.298059,5930.071526,5641.764141,5733.040979,7275.345910
"Congo, Dem. Rep.",256.817737,240.065363,208.048494,260.645812,136.467751,128.063903,127.419139,131.354925,131.250477,97.280293,...,92.015487,105.688214,104.868420,117.836974,123.710817,144.585419,164.171833,186.769078,174.507605,199.271770
Zambia,418.366358,418.542802,384.746049,386.096180,384.991258,389.893968,356.944812,415.197938,334.350806,314.862014,...,348.038023,347.510309,399.868130,485.969548,626.271886,910.817962,957.367154,1182.653770,1006.388182,1252.695718
Zimbabwe,839.014919,803.992263,613.452878,583.732753,600.763024,608.597134,719.278278,705.709524,522.109188,545.923705,...,537.504568,499.003341,448.588650,450.173805,444.157432,415.282250,402.060710,354.654841,467.853435,594.521525

In [51]:
test_df

,1990_GDP,1991_GDP,1992_GDP,1993_GDP,1994_GDP,1995_GDP,1996_GDP,1997_GDP,1998_GDP,1999_GDP,...,2001_GDP_by_pop,2002_GDP_by_pop,2003_GDP_by_pop,2004_GDP_by_pop,2005_GDP_by_pop,2006_GDP_by_pop,2007_GDP_by_pop,2008_GDP_by_pop,2009_GDP_by_pop,2010_GDP_by_pop
Country name,,,,,,,,,,,,,,,,,,,,,
Angola,10260193360.68,12193746624.68,5779394291.76,5285600050.35,4059577145.36,5039534776.49,7526446605.52,7675412589.46,6445192203.75,6154480286.74,...,621.064197,767.721595,905.079111,1239.246030,1857.743098,2655.042216,3449.376803,4666.741352,4068.575715,4422.542824
Albania,2101624960.00,1139166679.07,709452572.66,1228071037.41,1985673025.89,2424498952.88,3013217852.57,2196223713.81,2727745453.08,3434402453.41,...,1329.385031,1440.030143,1819.397838,2388.729275,2666.141620,2893.157853,3377.221517,4076.402136,3772.604741,3678.231748
Argentina,141352368714.69,189719989668.10,228779382768.15,236753563469.87,257439956992.00,258031878144.00,272149757952.00,292858888192.00,298948362240.00,283523022848.00,...,7203.256653,2709.706375,3410.337808,3993.906484,4735.983684,5485.523115,6623.863698,8225.669082,7665.073444,9123.738663
Armenia,2256838858.43,2068526521.90,1272577521.77,1201313196.46,1315158670.48,1468317350.02,1596968913.19,1639492424.38,1893726437.36,1845482181.49,...,690.997783,776.309388,917.174148,1167.831655,1598.339949,2079.733610,2994.708990,3787.492151,2768.612627,2996.306274
Antigua and Barbuda,391570363.45,410388899.42,423762955.48,456537023.05,500088880.06,494185188.31,541074082.30,579851829.76,620037014.23,651851840.34,...,8794.945235,8862.997264,9216.155883,9843.263742,10329.597493,11899.442787,13444.657547,13850.149225,12501.866574,11441.567816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,112058888.22,111908235.97,117883207.85,118613703.55,197000394.48,200357402.77,222670196.53,254361347.16,240113812.86,230621434.54,...,1369.789094,1438.066986,1685.297911,2084.080534,2287.102872,2443.270767,2720.503523,3184.106323,2721.943948,3087.175501
South Africa,112013925352.82,120225327665.39,130513036525.14,130405952096.51,135777933839.56,151113089034.78,143732002576.51,148814150953.26,134295556521.53,133183580945.09,...,2638.157875,2439.991111,3647.703625,4695.039379,5234.583145,5468.298059,5930.071526,5641.764141,5733.040979,7275.345910
"Congo, Dem. Rep.",9349764580.35,9087965281.53,8206227134.01,10707792340.03,5820383305.55,5643439262.22,5771454883.83,6090840526.87,6217806274.76,4711272704.00,...,92.015487,105.688214,104.868420,117.836974,123.710817,144.585419,164.171833,186.769078,174.507605,199.271770
Zambia,3288381745.33,3376791604.16,3182810919.62,3273505269.58,3346574626.64,3477642088.77,3270303736.90,3910384000.05,3237203900.12,3131338936.09,...,348.038023,347.510309,399.868130,485.969548,626.271886,910.817962,957.367154,1182.653770,1006.388182,1252.695718
Zimbabwe,8783816665.90,8641481700.92,6751472200.86,6563813295.23,6890674988.54,7111270668.89,8553146596.98,8529571573.46,6401968164.11,6772312400.63,...,537.504568,499.003341,448.588650,450.173805,444.157432,415.282250,402.060710,354.654841,467.853435,594.521525